<!DOCTYPE html>
<html>
  <head>
    <title>Sourcery</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= controller.controller_name %> <%= controller.action_name %><%= user_signed_in? ? '' : ' guest'%>">
    <%#= render "partials/flash" if flash %>
    
    <%=  render "layouts/#{user_signed_in? ? 'user_nav' : 'guest_nav'}" %>
    <div class="<%= user_signed_in? ? 'container' : '' %> mt80">
      <%= yield %>
    </div>
    
  </body>
</html>
